.schedule {
  font-family: AmericanPatrius;
  color: #0b1138;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  .sidebar {
    width: 23%;
    height: 100%;
    overflow: auto;
    padding: 0 15px;
    border-left: 1px solid #0b1138;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: American;
      font-size: 40px;
      padding-top: 20px;
      span {
        padding: 0 20px;
      }
      img{
        height: 40px;
      }
    }

    .busy-on-day {
      width: 100%;

      .day-name-block {
        display: flex;
        align-items: center;
        .day-name {
          width: 55px;
          text-align: center;
          font-family: American;
          font-size: 30px;
        }
      }
      .day-line {
        box-sizing: border-box;
        border-bottom: 2px solid #0b1138;
        height: 50%;
        width: calc(65%);
        margin-left: 5px;
      }
      .day-time-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        padding: 5px 0;
        p {
          padding:5px 0;
        };
      }
    }

  }

  .schedule-fullcalendar {
    width: 78%;
    overflow: auto;
  }

  .fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover{
    border-color: #7F8397;
  }
  .fc {
      font-size: 1em;
      width: 100%;
      tr {
        height: 30px;
        line-height: 30px;
      }
      .fc-head {
        background: #64CAE2;
      }
      .fc-body {
        background: #fff;
      }
    }
    .fc-axis {
      text-align: center;
      width: 60px !important;
    }
    .fc-scroller.fc-time-grid-container{
      height: auto !important;
    }
  .fc-toolbar h2 {
     margin: 0;
     margin-top: 20px;
     font-family: American;
     font-size: 40px;
  }

  .fc-event-active{
    z-index: 999;
    background: #6BA5C1;
    color: white;
    height: 110px;
    width: 110px;
    border: 1px solid black;
    position: absolute;
    font-size: 12px;
  }

  .schedule-tbn {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    .update{
      text-decoration: underline;
    }
    .send {
      cursor: pointer;
      margin: 20px 40px;
      width: 80px;
      height: 40px;
      background-color: #0b1138;
      color: white;
      border: none;
      -webkit-clip-path: polygon(0 15%, 10% 100%, 100% 65%, 100% 0%);
      font-family: AmericanPatrius;
    }
  }
}
md-list{
  font-family: AmericanPatrius;
  color: #0b1138;
  font-size: 22px;
  text-align: center;
}
.md-button.md-primary {
  color: #0b1138 !important;
  text-decoration: underline;
  font-size: 18px;
}