<div class="schedule">

    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar" id="calendar"></div>

    <div class="schedule-tbn">
        <!--<div class="update" ng-click="vm.update()">Update</div>-->
        <button class="send" ng-click="vm.send()">Send</button>
    </div>

    <!--<div class="fc-event-active" ng-if="vm.isEventActive">-->
        <!--<div class="text">-->
            <!--<p>{{vm.show.date}}</p>-->
            <!--<p>{{vm.show.time}}</p>-->
        <!--</div>-->
        <!--<div class="delete" ng-click="vm.deleteEvent(vm.event.id)">delete</div>-->
    <!--</div>-->


    <div class="sidebar">
        <p class="title">This week</p>

        <div ng-repeat="day in vm.busyOnWeek" class="busy-on-day">
            <div class="day-name-block">
                <div class="day-name">
                    <span>{{day.day}}</span>
                </div>
                <div class="day-line"></div>
            </div>
            <div class="day-time-block">
                <div class="day-time" ng-repeat="time in day.time">
                    <p> {{time.start}} - {{time.end}}</p>
                </div>
            </div>
        </div>
    </div>

</div>

