<md-dialog flex="40" flex-xs="90" flex-sm="60" class="addQuest" aria-label="Enter the question">


    <form name="vm.questForm" ng-submit="vm.save()" novalidate>

        <md-toolbar>
            <div class="md-toolbar-tools" layout="row" layout-align="center center">
                <h2>Enter the question</h2>
            </div>
        </md-toolbar>

        <md-dialog-content layout="column">
            <div class="dialog-content">
                <div ng-if="!vm.createCommon">
                    <md-input-container class="main-input identifier">
                        <label>Identifier</label>
                        <input ng-model="vm.data.identifier" name="identifier" required minlength="3">
                        <div ng-messages="vm.questForm.identifier.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="minlength">Name min length 3.</div>
                        </div>
                    </md-input-container>
                </div>

                <div>
                    <md-tooltip ng-if="vm.data.common_question_id"  md-direction="left">This is a common question. Can not be edited.
                    </md-tooltip>
                    <md-input-container class="main-input question-name">
                        <label>Name your question</label>
                        <input ng-model="vm.data.title" name="title" required minlength="3"
                               ng-disabled="vm.data.common_question_id">
                        <div ng-messages="vm.questForm.title.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="minlength">Name min length 3.</div>
                        </div>
                    </md-input-container>
                </div>

                <div>
                    <md-tooltip ng-if="vm.data.common_question_id"  md-direction="left">This is a common question. Can not be edited.
                    </md-tooltip>
                    <md-input-container class="radio-input">
                        <label>Select a type</label>
                        <md-select ng-model="vm.data.type" name="type" required
                                   ng-disabled="vm.data.common_question_id">
                            <md-option ng-value="0" ng-if="!vm.createCommon"><em>Check Box</em></md-option>
                            <md-option ng-value="1" ng-if="!vm.createCommon"><em>Radio</em></md-option>
                            <md-option ng-value="2"><em>Text</em></md-option>
                            <md-option ng-value="3"><em>Date</em></md-option>
                            <md-option ng-value="4"><em>Country</em></md-option>
                        </md-select>
                        <div ng-messages="vm.questForm.type.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>

            <div ng-if="vm.data.type == 1 || vm.data.type == 0">
                <div ng-if="vm.data.type == 0" class="answer-content">
                    <md-input-container class="main-input next-question-for-checkbox" ng-if="vm.data.type == 0">
                        <label class="next-label">Next question: {{vm.data.next_question}}
                            <p ng-if="vm.data.next_question === null">undefined</p>
                        </label>

                        <md-select class="md-block-restyle" ng-model="vm.data.next_question"
                                   aria-label="">
                            <md-option ng-value="null" ng-click="vm.changeNextQuest(quest)">
                                undefined
                            </md-option>
                            <md-option ng-repeat="quest in  vm.questions"
                                       ng-click="vm.changeNextQuest(quest)"
                                       ng-value="quest.identifier"
                                       ng-if="vm.data.id !== quest.id">

                                <div class="pick-next">
                                    {{quest.title}}
                                </div>

                            </md-option>
                        </md-select>
                    </md-input-container>

                    <div flex="100" class="accordion-for-checkbox">
                        <v-accordion flex="100" class="vAccordion--default radio-accordion" multiple>
                            <v-pane>
                                <v-pane-header>
                                    Advanced settings for the question
                                </v-pane-header>

                                <v-pane-content class="local-margin-left">
                                    <v-pane>
                                        <v-pane-header>
                                            Additional information on the issue when passing
                                        </v-pane-header>

                                        <v-pane-content class="local-margin-left">
                                            <md-input-container class="md-block margin-null">
                                                <label>Additional information</label>
                                                <textarea ng-model="vm.data.answers[$index].information" rows="2"></textarea>
                                            </md-input-container>
                                        </v-pane-content>
                                    </v-pane>

                                    <v-pane>
                                        <v-pane-header>
                                            Additional text to the issue for the contract
                                        </v-pane-header>

                                        <v-pane-content class="local-margin-left">
                                            <md-input-container class="md-block margin-null">
                                                <label>Additional text</label>
                                                <textarea ng-model="vm.data.answers[$index].contract_text"
                                                          rows="2" maxlength="4000"></textarea>
                                            </md-input-container>
                                        </v-pane-content>
                                    </v-pane>
                                </v-pane-content>
                            </v-pane>
                        </v-accordion>
                    </div>
                </div>

                <md-button class="add-answer-button" ng-click="vm.addAnsver()" ng-if="!vm.data.common_question_id">
                    Add Answer
                </md-button>

                <div class="answer-container">
                    <div layout="row" ng-repeat="answers in vm.data.answers" class="answer answer-background"
                         ng-if="!answers.delete">

                        <div flex="100" class="answer-content">
                            <div flex="100" layout="column">
                                <div layout="row">
                                    <div flex="90" layout="row">
                                        <md-input-container flex="100" ng-if="vm.data.type == 0" class="name-input">
                                            <label>Name</label>
                                            <input ng-model="answers.answer_text" name="answer_text" required minlength="1"
                                                   ng-disabled="vm.data.common_question_id">
                                            <div ng-messages="vm.questForm.answer_text.$error">
                                                <div ng-message="required">This is required.</div>
                                                <div ng-message="minlength">Name min length 1.</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container flex="50" ng-if="vm.data.type == 1" class="name-input">
                                            <label>Name</label>
                                            <input ng-model="answers.answer_text" name="answer_text" required minlength="1"
                                                   ng-disabled="vm.data.common_question_id">
                                            <div ng-messages="vm.questForm.answer_text.$error">
                                                <div ng-message="required">This is required.</div>
                                                <div ng-message="minlength">Name min length 1.</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container flex="50" ng-if="vm.data.type == 1" class="next-quest-radio">
                                            <label class="next-label">Next question: {{answers.next_question}}
                                                <p ng-if="answers.next_question === null">undefined</p>

                                            </label>
                                            <md-select class="md-block-restyle"
                                                       aria-label="Select"
                                                       ng-model="answers.next_question"
                                                       md-on-close="vm.checkValidLoop()">

                                                <md-option ng-value="null" ng-click="vm.changeNextQuest(quest)">
                                                    undefined
                                                </md-option>

                                                <md-option ng-repeat="quest in  vm.questions"
                                                           ng-click="vm.changeNextQuest(quest , answers)"
                                                           ng-value="quest.identifier"
                                                           ng-if="vm.data.id !== quest.id">

                                                    <div class="pick-next">
                                                        {{quest.title}}
                                                    </div>
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>

                                    <div flex="10" layout="row" layout-align="end center" ng-if="!vm.data.common_question_id">
                                        <i class="material-icons delAns" ng-click="vm.deleteAnsver(answers, $index)">close</i>
                                    </div>
                                </div>

                                <div flex="90" ng-if="vm.data.type === 0">
                                    <v-accordion flex="90" class="vAccordion--default radio-accordion" multiple>
                                        <v-pane>
                                            <v-pane-header>
                                                Advanced settings for the answer
                                            </v-pane-header>

                                            <v-pane-content class="local-margin-left">
                                                <v-pane>
                                                    <v-pane-header>
                                                        Risk value
                                                    </v-pane-header>

                                                    <v-pane-content class="local-margin-left">
                                                        <md-input-container class="md-block margin-null">
                                                            <label>Risk value</label>
                                                            <textarea ng-model="vm.data.answers[$index].risk_value"
                                                                      oninput="this.value = this.value.replace(/\D/, '').replace(/^0/, '')">
                                                            </textarea>
                                                        </md-input-container>
                                                    </v-pane-content>
                                                </v-pane>

                                                <v-pane>
                                                    <v-pane-header>
                                                        Output setting
                                                    </v-pane-header>

                                                    <v-pane-content class="local-margin-left">
                                                        <div layout="row">

                                                            <div flex="20">
                                                                <span>Exit :&nbsp;</span>
                                                                <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink"
                                                                           ng-true-value="1" ng-false-value="0"
                                                                           ng-model="answers.exit_value">
                                                                </md-switch>
                                                            </div>

                                                            <div flex="80">
                                                                <md-input-container class="md-block margin-null">
                                                                    <label>Exit information</label>
                                                                    <textarea ng-model="answers.exit_information"
                                                                              rows="2"></textarea>
                                                                </md-input-container>
                                                            </div>
                                                        </div>
                                                    </v-pane-content>
                                                </v-pane>
                                            </v-pane-content>
                                        </v-pane>
                                    </v-accordion>
                                </div>

                                <div ng-if="vm.data.type == 1">
                                    <v-accordion flex="90" class="vAccordion--default radio-accordion" multiple>
                                        <v-pane>
                                            <v-pane-header>
                                                Advanced settings for the answer
                                            </v-pane-header>

                                            <v-pane-content class="local-margin-left">
                                                <v-pane>
                                                    <v-pane-header>
                                                        Additional information on the issue when passing
                                                    </v-pane-header>

                                                    <v-pane-content class="local-margin-left">
                                                        <md-input-container class="md-block margin-null">
                                                            <label>Additional information</label>
                                                            <textarea ng-model="vm.data.answers[$index].information" rows="2"></textarea>
                                                        </md-input-container>
                                                    </v-pane-content>
                                                </v-pane>

                                                <v-pane>
                                                    <v-pane-header>
                                                        Additional text to the issue for the contract
                                                    </v-pane-header>

                                                    <v-pane-content class="local-margin-left">
                                                        <md-input-container class="md-block margin-null">
                                                            <label>Additional text</label>
                                                            <textarea ng-model="vm.data.answers[$index].contract_text"
                                                                      rows="2" maxlength="4000"></textarea>
                                                        </md-input-container>
                                                    </v-pane-content>
                                                </v-pane>

                                                <v-pane>
                                                    <v-pane-header>
                                                        Risk value
                                                    </v-pane-header>

                                                    <v-pane-content class="local-margin-left">
                                                        <md-input-container class="md-block margin-null">
                                                            <label>Risk value</label>
                                                            <textarea ng-model="vm.data.answers[$index].risk_value"
                                                                      oninput="this.value = this.value.replace(/\D/, '').replace(/^0/, '')">
                                                            </textarea>
                                                        </md-input-container>
                                                    </v-pane-content>
                                                </v-pane>

                                                <v-pane>
                                                    <v-pane-header>
                                                        Output setting
                                                    </v-pane-header>

                                                    <v-pane-content class="local-margin-left">
                                                        <div layout="row">

                                                            <div flex="20">
                                                                <span>Exit :&nbsp;</span>
                                                                <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink"
                                                                           ng-true-value="1" ng-false-value="0"
                                                                           ng-model="vm.data.answers[$index].exit_value">
                                                                </md-switch>
                                                            </div>

                                                            <div flex="80">
                                                                <md-input-container class="md-block margin-null">
                                                                    <label>Exit information</label>
                                                                    <textarea ng-model="vm.data.answers[$index].exit_information"
                                                                              rows="2"></textarea>
                                                                </md-input-container>
                                                            </div>
                                                        </div>
                                                    </v-pane-content>
                                                </v-pane>
                                            </v-pane-content>
                                        </v-pane>
                                    </v-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="vm.data.type == 2" flex="100">
                <div layout="row" class="answer-content text-box">
                    <md-input-container flex="50" class="text-margin">
                        <md-tooltip ng-if="vm.data.common_question_id"  md-direction="left">This is a common question. Can not be edited.
                        </md-tooltip>
                        <label>Select a validation type</label>
                        <md-select ng-model="vm.data.validation_type" name="validation_type" required
                                   ng-disabled="vm.data.common_question_id">
                            <md-option ng-value="0"><em>Text and numbers</em></md-option>
                            <md-option ng-value="1"><em>Only text</em></md-option>
                            <md-option ng-value="2"><em>Only numbers</em></md-option>
                        </md-select>
                        <div ng-messages="vm.questForm.validation_type.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container flex="50" class="text-margin">
                        <md-tooltip ng-if="vm.data.common_question_id"  md-direction="left">This is a common question. Can not be edited.
                        </md-tooltip>
                        <label>Characters limit</label>
                        <input ng-model="vm.data.characters_limit" name="characters_limit" type="text" maxlength="4"
                               ng-change="vm.charactersLimitRegular(vm.data.characters_limit)" required
                               ng-disabled="vm.data.common_question_id">
                        <div ng-messages="vm.questForm.characters_limit.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="maxlength">Name max length 4.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>

            <div flex="100" ng-if="vm.data.type == 2 || vm.data.type == 3" class="answer-content">
                <div flex="100" ng-class="{'next-question-for-date': vm.data.type == 3}"
                ng-if="!vm.createCommon">
                    <md-input-container class="main-input">
                        <label class="next-label">Next question: {{vm.data.next_question}}
                            <p ng-if="vm.data.next_question === null">undefined</p>
                        </label>

                        <md-select class="md-block-restyle" ng-model="vm.data.next_question"
                                   aria-label="">

                            <md-option ng-value="null" ng-click="vm.changeNextQuest(quest)">
                                undefined
                            </md-option>

                            <md-option ng-repeat="quest in  vm.questions"
                                       ng-click="vm.changeNextQuest(quest)"
                                       ng-value="quest.identifier"
                                       ng-if="vm.data.id !== quest.id">

                                <div class="pick-next">
                                    {{quest.title}}
                                </div>

                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="100" class="accordion-for-text-date">
                    <v-accordion flex="100" class="vAccordion--default radio-accordion" multiple>
                        <v-pane>
                            <v-pane-header>
                                Advanced settings for the question
                            </v-pane-header>

                            <v-pane-content class="local-margin-left">
                                <v-pane>
                                    <v-pane-header>
                                        Additional information on the issue when passing
                                    </v-pane-header>

                                    <v-pane-content class="local-margin-left">
                                        <md-input-container class="md-block margin-null">
                                            <label>Additional information</label>
                                            <textarea ng-model="vm.data.information" rows="2"></textarea>
                                        </md-input-container>
                                    </v-pane-content>
                                </v-pane>

                                <v-pane>
                                    <v-pane-header>
                                        Additional text to the issue for the contract
                                    </v-pane-header>

                                    <v-pane-content class="local-margin-left">
                                        <md-input-container class="md-block margin-null">
                                            <label>Additional text</label>
                                            <textarea ng-model="vm.data.contract_text"
                                                      rows="2" maxlength="4000"></textarea>
                                        </md-input-container>
                                    </v-pane-content>
                                </v-pane>
                            </v-pane-content>
                        </v-pane>
                    </v-accordion>
                </div>
            </div>

            <div ng-if="vm.data.type == 4" class="answer-content">
                <div>
                    <md-input-container class="main-input next-question-for-country"
                                        ng-if="!vm.createCommon">
                        <label class="next-label">Next question: {{vm.data.next_question}}
                            <p ng-if="vm.data.next_question === null">undefined</p>
                        </label>

                        <md-select class="md-block-restyle" ng-model="vm.data.next_question"
                                   aria-label="">
                            <md-option ng-value="null" ng-click="vm.changeNextQuest(quest)">
                                undefined
                            </md-option>
                            <md-option ng-repeat="quest in  vm.questions"
                                       ng-click="vm.changeNextQuest(quest)"
                                       ng-value="quest.identifier"
                                       ng-if="vm.data.id !== quest.id">

                                <div class="pick-next">
                                    {{quest.title}}
                                </div>

                            </md-option>
                        </md-select>
                    </md-input-container>

                    <div flex="100" class="accordion-for-text-country">
                        <v-accordion flex="100" class="vAccordion--default radio-accordion" multiple>
                            <v-pane>
                                <v-pane-header>
                                    Advanced settings for the question
                                </v-pane-header>

                                <v-pane-content class="local-margin-left">
                                    <v-pane>
                                        <v-pane-header>
                                            Additional information on the issue when passing
                                        </v-pane-header>

                                        <v-pane-content class="local-margin-left">
                                            <md-input-container class="md-block margin-null">
                                                <label>Additional information</label>
                                                <textarea ng-model="vm.data.answers[$index].information" rows="2"></textarea>
                                            </md-input-container>
                                        </v-pane-content>
                                    </v-pane>

                                    <v-pane>
                                        <v-pane-header>
                                            Additional text to the issue for the contract
                                        </v-pane-header>

                                        <v-pane-content class="local-margin-left">
                                            <md-input-container class="md-block margin-null">
                                                <label>Additional text</label>
                                                <textarea ng-model="vm.data.answers[$index].contract_text"
                                                          rows="2" maxlength="4000"></textarea>
                                            </md-input-container>
                                        </v-pane-content>
                                    </v-pane>
                                </v-pane-content>
                            </v-pane>
                        </v-accordion>
                    </div>
                </div>

                <div layout="row" layout-xs="column" layout-align="center center">

                    <div hide show-xs flex="50" flex-xs="100" layout="row" layout-align="end center">
                        <span>Country dependency:&nbsp;</span>
                        <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.countrySwitch"
                                   ng-change="vm.countrySwitchFunc(vm.countrySwitch)">
                        </md-switch>
                    </div>

                    <div flex="50" flex-xs="100" ng-if="(vm.countrySwitch === true)  && (!vm.data.common_question_id)">
                        <md-button class="add-answer-button_country" ng-click="vm.addAnsver()">
                            Add dependency
                        </md-button>
                    </div>

                    <div flex="50" flex-xs="100" ng-if="vm.countrySwitch === false">

                    </div>

                    <div hide show-gt-xs flex="50" flex-xs="100" layout="row" layout-align="end center"
                         ng-if="!vm.data.common_question_id && !vm.createCommon">
                        <span>Country dependency:&nbsp;</span>
                        <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.countrySwitch"
                                   ng-change="vm.countrySwitchFunc(vm.countrySwitch)">
                        </md-switch>
                    </div>
                </div>


            </div>

            <div ng-if="vm.data.type == 4 && vm.countrySwitch === true && !answer.delete"
                 flex="100" class="answer-background"
                 ng-repeat="(indexAnswer, answer) in vm.data.answers">

                <div flex="100" layout="row" class="answer-content">
                    <div flex="45">
                        <md-input-container class="country_input">
                            <md-tooltip md-direction="bottom">{{vm.countryInputTitle(answer.answer_text)}}</md-tooltip>

                            <label>Countries</label>
                            <md-select ng-model="answer.answer_text"
                                       md-on-open="vm.countryOnOpen(answer.answer_text)"
                                       md-on-close="vm.countryOnClose(answer.answer_text)"
                                       data-md-container-class="selectdemoSelectHeader"
                                       multiple
                                       ng-click="showRepeat = true"
                                       ng-disabled="vm.data.common_question_id">

                                <md-optgroup label="Choose a countries"
                                             ng-if="showRepeat">
                                    <md-option ng-value="country"
                                               ng-repeat="country in vm.countryRepeater(answer.answer_text)">
                                        {{country}}
                                    </md-option>
                                </md-optgroup>

                                <md-optgroup label="Choose a countries"
                                             ng-if="!showRepeat">
                                    <md-option ng-value="country"
                                               ng-repeat="country in answer.answer_text">
                                        {{country}}
                                    </md-option>
                                </md-optgroup>

                            </md-select>
                        </md-input-container>
                    </div>

                    <div flex="45">
                        <md-input-container class="country_input_next_question">
                            <label class="next-label">Next question: {{answers.next_question}}
                                <p ng-if="answers.next_question === null">undefined</p>

                            </label>

                            <md-select class="md-block-restyle"
                                       aria-label="Select"
                                       ng-model="answer.next_question"
                                       md-on-close="vm.checkValidLoop()">

                                <md-option ng-value="null" ng-click="vm.changeNextQuest(quest)">
                                    undefined
                                </md-option>

                                <md-option ng-repeat="quest in  vm.questions"
                                           ng-click="vm.changeNextQuest(quest , answer)"
                                           ng-value="quest.identifier"
                                           ng-if="vm.data.id !== quest.id">

                                    <div class="pick-next">
                                        {{quest.title}}
                                    </div>
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div flex="10" layout="row" layout-align="center center">
                        <i class="material-icons delAns-for-country" ng-click="vm.deleteAnsver(answer, $index, true)">
                            close
                        </i>
                    </div>
                </div>

                <div flex="100" class="answer-content">
                    <div flex="100" class="accordion-for-country-answers">
                        <v-accordion flex="90" class="vAccordion--default radio-accordion" multiple>
                            <v-pane>
                                <v-pane-header>
                                    Advanced settings for the answer
                                </v-pane-header>

                                <v-pane-content class="local-margin-left">
                                    <v-pane>
                                        <v-pane-header>
                                            Risk value
                                        </v-pane-header>

                                        <v-pane-content class="local-margin-left">
                                            <md-input-container class="md-block margin-null">
                                                <label>Risk value</label>
                                                <textarea ng-model="vm.data.answers[$index].risk_value"
                                                          oninput="this.value = this.value.replace(/\D/, '').replace(/^0/, '')">
                                                            </textarea>
                                            </md-input-container>
                                        </v-pane-content>
                                    </v-pane>

                                    <v-pane>
                                        <v-pane-header>
                                            Output setting
                                        </v-pane-header>

                                        <v-pane-content class="local-margin-left">
                                            <div layout="row">

                                                <div flex="20">
                                                    <span>Exit :&nbsp;</span>
                                                    <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink"
                                                               ng-true-value="1" ng-false-value="0"
                                                               ng-model="answer.exit_value">
                                                    </md-switch>
                                                </div>

                                                <div flex="80">
                                                    <md-input-container class="md-block margin-null">
                                                        <label>Exit information</label>
                                                        <textarea ng-model="answer.exit_information"
                                                                  rows="2"></textarea>
                                                    </md-input-container>
                                                </div>
                                            </div>
                                        </v-pane-content>
                                    </v-pane>
                                </v-pane-content>
                            </v-pane>
                        </v-accordion>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions class="bot-btn" layout="row" layout-align="space-between center">
            <md-button class="md-raised md-primary" type="submit">
                <span ng-if="vm.data.id">Save</span>
                <span ng-if="!vm.data.id && !vm.data.common_question_id">Save</span>
                <span ng-if="!vm.data.id && vm.data.common_question_id">Add</span>

            </md-button>
            <md-button class="md-raised" ng-click="vm.cancel()">Cancel</md-button>
        </md-dialog-actions>

    </form>


</md-dialog>