<div class="kid-detail">
    <div class="kid half half-mod">
        <p class="title">kid details</p>
        <div class="section">
            <div class="image">
                <img src="../../content/img/chat/man-ico.png" class="ico">
            </div>
            <div class="info-pole" title="{{vm.kid.name}}">{{vm.kid.name}}</div>
        </div>
        <div class="section">
            <div class="image">
                <img src="../../content/img/chat/calendar-ico.png" class="ico">
            </div>
            <div class="info-pole" title="{{vm.dateConvert(vm.kid.birth_date)}}">{{vm.dateConvert(vm.kid.birth_date)}}</div>
        </div>
        <div class="section">
            <div class="image">
                <img src="../../content/img/chat/phone-ico.png" class="ico">
            </div>
            <div class="info-pole" title="{{vm.kid.phone.code}}  {{vm.kid.phone.phone}}">{{vm.kid.phone.code}}  {{vm.kid.phone.phone}}</div>
        </div>
        <div class="section">
            <div class="image">
                <img src="../../content/img/chat/id-ico.png" class="ico">
            </div>
            <div class="info-pole" title="{{vm.kid.id_number}}">{{vm.kid.id_number}}</div>
        </div>
        <div class="section">
            <div class="image">
                <img src="../../content/img/chat/grade-ico.png" class="ico">
            </div>
            <div class="info-pole" title="{{vm.kid.grade}}">{{vm.kid.grade}}</div>
        </div>
    </div>

    <div class="parent half half-mod">
        <p class="title">parents details</p>
        <div ng-repeat="parent in vm.parents" class="parent">
            <div class="section">
                <div class="image">
                    <img src="../../content/img/chat/man-ico.png" class="ico">
                </div>
                <div class="info-pole" title="{{parent.name}}">{{parent.name}}</div>
            </div>
            <div class="section">
                <div class="image">
                    <img src="../../content/img/chat/email-ico.png" class="ico">
                </div>
                <div class="info-pole" title="{{parent.email}}">{{parent.email}}</div>
            </div>
            <div class="section">
                <div class="image">
                    <img src="../../content/img/chat/phone-ico.png" class="ico">
                </div>
                <div class="info-pole" title="{{parent.phone.code}}  {{parent.phone.phone}}">{{parent.phone.code}}  {{parent.phone.phone}}</div>
            </div>
        </div>

    </div>
</div>