<md-dialog class="state-go-warning" aria-label="Mango (Fruit)">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <p class="title">WARNING!</p>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <p class="content">Please finish the conversation first</p>
        </div>
    </md-dialog-content>

    <md-dialog-actions  layout="row">
        <div ng-click="vm.close()" class="button">ok</div>
    </md-dialog-actions>
</md-dialog>