<p class="title">login</p>
<div class="input-block">
    <div class="description disable-selection"><p>e-mail</p></div>
    <input class="input" ng-model="vm.email">
</div>
<div class="input-block">
    <div class="description disable-selection"><p>password</p></div>
    <input class="input" ng-model="vm.password">
</div>
<div class="input-block">
    <div class="description disable-selection"><p>id</p></div>
    <input class="input" ng-model="vm.id">
</div>

<div class="button-zone">
    <div class="forgot" ng-click="vm.forgot()"> forgot password?</div>
    <div class="button login disable-selection" ng-click="vm.login()"> Login</div>
</div>

