<div class="send-log-dialog">

    <div class="recent-actions">recent actions</div>

    <div class="main">

        <div class="info">
            <div class="contact">
                <div class="kid-img">

                </div>

                <div class="kid-name">
                    {{vm.kidName}}
                </div>
            </div>

            <div class="logs">
                <div ng-repeat="log in vm.logs" class="log">
                    <div class="head">
                        <div class="name">{{vm.consName(log)}}</div>
                        <div class="time-of-creation">
                            <div class="date">{{vm.dateConvert(log.created_at, true)}}</div>
                            <div class="time">{{vm.timeConvert(log.created_at, true)}}</div>
                        </div>
                    </div>

                    <div class="message">{{log.content}}</div>
                </div>
            </div>

        </div>

        <textarea rows="12" class="description" ng-model="vm.text"></textarea>

        <div class="button disable-selection" ng-click="vm.send()">send</div>

    </div>


</div>