<div class="send-log-dialog">

    <div class="recent-actions">recent actions</div>

    <div class="main">

        <div class="info">
            <div class="contact">
                <div class="kid-img">

                </div>

                <div class="kid-name">

                </div>
            </div>

            <div class="logs">
                <div class="log" ng-repeat="log in vm.logs">

                </div>
            </div>

        </div>

        <div class="description">

        </div>

        <div class="button disable-selection">send</div>

    </div>


</div>