<p class="title">create new password</p>
<div class="input-block">
    <div class="description new-description disable-selection"><p>new password</p></div>
    <input class="input new-input" ng-model="vm.new_password">
</div>
<div class="input-block">
    <div class="description new-description disable-selection"><p>repeat password</p></div>
    <input class="input new-input" ng-model="vm.new_password_repeat">
</div>

<div class="button-zone">
    <div></div>
    <div class="button save disable-selection" ng-click="vm.save()"> save</div>
</div>