<div class="chat">

    <div class="chat-body" id="chatBody">
        <div class="messages" id="chat">

            <div ng-repeat="(key, message) in vm.messages track by $index">
                <div class="day" ng-if="vm.dateHeader($index)">
                    <div class="title-line-block">
                        <div class="title-line"></div>
                        <div></div>
                    </div>

                    <p>{{vm.dateConvert(message.date)}}</p>

                    <div class="title-line-block">
                        <div class="title-line"></div>
                        <div></div>
                    </div>
                </div>

                <div ng-class="vm.ownMessage(key) ? 'my-message-block' : 'other-message' ">
                    <div class="message-time" ng-if="vm.timeHeader($index)">
                        <div class="info">
                            <p class="name">{{vm.contactName(key)}}</p>
                            <p>{{vm.timeConvert(message.date)}}</p>
                        </div>

                        <div class="contact">
                            <div class="avatar"></div>
                            <div class="trigon"></div>
                        </div>
                    </div>
                    <div class="my-message">
                        <p>{{message.text}}</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="send-box">
            <input type="text" ng-model="vm.message_input">
            <div class="button disable-selection" ng-click="vm.sendMessage()">
                send
            </div>
        </div>
        <div class="detail-and-logs">
            <div class="half" ng-include="'../../components/kid-detail/kid-detail.html'"></div>

            <div class="half" ng-include="'../../components/logs/logs.html'"></div>
        </div>
    </div>

    <div class="user-panel" id="userPanel">
        <!--<div class="title">Users</div>-->
        <div ng-repeat="user in vm.users track by $index" class="user" ng-click="vm.selectUser(user, $index)">
            <div class="info">
                <div class="offline-status" ng-class="vm.userOnlineStatus($index)"></div>
                <img src="../../content/img/tabs/profile-ico.png" class="man-ico">
                <div class="name">{{user.name}}</div>
            </div>
        </div>
    </div>



    <div class="one-vs-one" id="oneVSone">
        <!--<div id="redB" style="width: 120px; height: 120px; background-color: red;">-->
            <!--red block-->
        <!--</div>-->

        <!--<div class = "bodyDiv" id="rootBlock">-->
            <!--<div id="vid-box" class="video2"></div>-->
            <!--<div id="vid-thumb" class="video1"></div>-->
        <!--</div>-->

        <!--<div class = "bodyDiv" id="rootBlock2">-->
        <!--</div>-->

        <div class="kid half">
            <div class="video">
                <div id="vid-box" class="video2"></div>
            </div>

            <div class="detail-and-logs">
                <div class="detail-incl" ng-include="'../../components/kid-detail/kid-detail.html'"></div>
            </div>
        </div>

        <div class="psy half">
            <div class="video">
                <div id="vid-thumb" class="video1"></div>
            </div>

            <div class="detail-and-logs">
                <div class="logs-incl" ng-include="'../../components/logs/logs.html'"></div>
            </div>
        </div>

    </div>

    <div class="one-vs-one-vs-chat" id="oneVSoneVSchat">

    </div>

    <div class="multi" id="multi">

    </div>

</div>

