<div class="chat">

    <md-button ng-click="vm.playPause()">play/pause</md-button>

    <div class="img-block" id="wrapper">
        <video id="video"></video>
        <!--<video autoplay id="video"></video>-->

        <div class="face-box-video" id="face-box-video"></div>
    </div>


    <!---->
    <!--<md-button ng-click="vm.checkFace()">-->
        <!--Check face coordinate-->
    <!--</md-button>-->

    <!--<div class="img-block" id="wrapper">-->

        <!--<img src="../../content/2.jpg" alt="" id="picture" class="img">-->

    <!--</div>-->

</div>

