<div class="call2">

    <div layout="row">
        <md-button class="md-primary md-raised" id="startButton">start</md-button>
        <md-button class="md-primary md-raised" id="callButton">call</md-button>
        <md-button class="md-primary md-raised" id="upgradeButton">turnOn</md-button>
        <md-button class="md-primary md-raised" id="hangupButton">hang up</md-button>
    </div>

    <div class="video-container" id="wrapper">
        <!--<video id="localVideo" playsinline autoplay muted></video>-->
        <!--<video id="remoteVideo" playsinline autoplay></video>-->
        <video id="localVideo"></video>
        <video id="remoteVideo"></video>
    </div>

</div>

