<div class="tabs-block" id="tabs-main">

    <div class="header" id="tabs-header">
        <img src="../../content/img/tabs/logo.png" class="logo outline pointer" ng-click="vm.toStatistic()">
        <div class="logout-name-block">
            <div class="name outline">
                <img src="../../content/img/tabs/profile-ico.png" class="name-logo">
                <p>{{vm.user.name}}</p>
            </div>
            <div class="logout outline" ng-click="vm.logout()">
                <img src="../../content/img/tabs/logout-ico.png" class="logout-logo">
                <p>logout</p>
            </div>
        </div>
    </div>
    <div class="body" id="tabs-body">
        <div class="tabs" ng-class="{'tabs--hide' : !vm.menuOpen }">
            <button class="tabs-btn" ng-click="vm.toggleMenu()">
               <img src="../../content/img/tabs/arrow-point-to-right.svg" ng-class="{'img-scale': vm.menuOpen}">
            </button>
            <div class="tab-item outline" ng-click="vm.toSchedule()">
                <div class="wrapper">
                    <img src="../../content/img/tabs/schedule-ico.png" class="schedule-logo">
                    <span>schedule</span>
                </div>
            </div>
            <div class="tab-item outline" ng-click="vm.toChat()">
                <div class="wrapper">
                    <img src="../../content/img/tabs/chat-ico.png" class="chat-logo">
                    <span>chat</span>
                </div>
            </div>
            <div class="tab-item outline" ng-click="vm.toVideoChatTest()">
                <div class="wrapper">
                    <!--<img src="../../content/img/tabs/chat-ico.png" class="chat-logo">-->
                    <span>video test</span>
                </div>
            </div>
        </div>

        <div class="base-width" ng-class="{'full-width': !vm.menuOpen }">
            <div ui-view class="scope-view"></div>
        </div>
    </div>

</div>

