.tabs-block {
  font-family: AmericanPatrius;
  color: #0b1138;
  //min-width: 1150px;
  height: 100vh;

  .header {
    max-height: 158px;
    min-height: 110px;
    height: 15vh;
    background-color: #64cae2;
    border-bottom: 2px solid #0b1138;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;

    span {
      border: none;
    }
    .logo {
      height: 96%;
      //height: 150px;
      //width: 372px;
      -webkit-clip-path: polygon(0 0, 0 100%, 33% 100%, 44% 96%, 68% 83%, 83% 61%, 100% 20%, 100% 0);
    }

    .logout-name-block {
      display: flex;
      position: absolute;
      bottom: 12px;
      right: 17px;
    }
    .name {
      position: relative;
      cursor: pointer;
      width: 116px;
      display: flex;
      //margin-right: 133px;
      margin-right: 9vw;
    }
    .logout {
      position: relative;
      cursor: pointer;
      width: 100px;
      display: flex;
    }
    .name, .logout {
      p{
        position: absolute;
        bottom: -4px;
        right: 0;
        font-size: 13px;
      }
    }

  }

  .body {
    display: flex;
    //height: calc(100vh - 158px);
    //box-sizing: border-box;

    .tabs {
      //width: 255px;
      width: 25%;
      max-width: 450px;
      min-width: 230px;
      height: 100%;
      background-color: white;
      box-sizing: border-box;
      border-right: 1px solid #0b1138;
      transition: all 0.3s ease;
      position: relative;

      &--hide {
        margin-left: -25%;
      }

      .tabs-btn {
        position: absolute;
        right: -26px;
        border: none;
        padding: 0;
        background: #64CAE2;
        z-index: 1;
        height: 56px;
        border-radius: 0 50% 50% 0;
        img {
          height:25px;
        }
        .img-scale{
          transform: scale(-1);
        }
      }
      .tabs-btn:focus{
        outline: none;
      }

      .tab-item {
        cursor: pointer;
        height: 85px;
        border-bottom: 2px solid #cdf2fd;
        box-sizing: border-box;
        position: relative;
        margin: auto;

        .wrapper {
          position: absolute;
          bottom: 16px;
          left: 46px;

          span {
            font-size: 18px;
            margin-left: 10px;
          }
        }

        .schedule-logo {
          height: auto;
        }
        .chat-logo {
          height: auto;
        }
      }
    }
    .scope-view {
      //background-color: white;
      height: 100%;
      width: 100%;
      background: url('../../content/img/tabs/dots.png')
                  no-repeat left center;
      background-size: cover;
    }
  }
}