.tabs-block {
  font-family: AmericanPatrius;
  color: #0b1138;
  //min-width: 1150px;
  height: 100vh;

  .header {
    max-height: 158px;
    min-height: 110px;
    height: 15vh;
    background-color: #64cae2;
    border-bottom: 2px solid #0b1138;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;

    span {
      border: none;
    }
    .logo {
      height: 96%;
      //height: 150px;
      //width: 372px;
      -webkit-clip-path: polygon(0 0, 0 100%, 33% 100%, 44% 96%, 68% 83%, 83% 61%, 100% 20%, 100% 0);
      clip-path: polygon(0 0, 0 100%, 33% 100%, 44% 96%, 68% 83%, 83% 61%, 100% 20%, 100% 0);
    }

    .logout-name-block {
      display: flex;
      position: absolute;
      bottom: 12px;
      right: 17px;
    }
    .name {
      margin-right: 8vw;
    }
    .logout {
      position: relative;
      cursor: pointer;
      display: flex;
    }
    .name, .logout {
      position: relative;
      cursor: pointer;
      width: max-content;
      align-items: baseline;
      display: flex;
      p {
        padding-left: 10px;
      }
    }

  }

  .body {
    display: flex;
    //height: calc(100vh - 158px);
    //box-sizing: border-box;

    .tabs {
      //width: 255px;
      width: 20%;
      min-width: 200px;
      height: 100%;
      background-color: white;
      box-sizing: border-box;
      border-right: 1px solid #0b1138;
      transition: all 0.3s ease;
      position: relative;

      &--hide {
        margin-left: -20%;
      }

      .tabs-btn {
        position: absolute;
        right: -26px;
        border: none;
        padding: 0;
        background: #64CAE2;
        z-index: 1;
        height: 56px;
        border-radius: 0 50% 50% 0;
        img {
          height: 25px;
        }
        .img-scale {
          transform: scale(-1);
        }
      }
      .tabs-btn:focus {
        outline: none;
      }

      .tab-item {
        cursor: pointer;
        height: 100px;
        border-bottom: 2px solid #cdf2fd;
        box-sizing: border-box;
        position: relative;
        margin: auto;

        .wrapper {
          padding: 20px 15px;

          span {
            font-size: 18px;
            margin-left: 10px;
          }
        }

        .schedule-logo {
          height: auto;
        }
        .chat-logo {
          height: auto;
        }
      }
    }
    .base-width {
      width: 80%;
    }
    .full-width {
      width: 100%;
    }
    .scope-view {
      //background-color: white;
      height: 100%;
      width: 100%;
      background: url('../../content/img/tabs/dots.png') no-repeat left center;
      background-size: cover;
    }
  }
}

@media (max-width: 1012px) {
  .body {
    .base-width{
      width: calc(100% - 200px) !important;
    }
    .tabs {
      width: 200px !important;
      &--hide {
        margin-left: -200px !important;
      }
    }
  }
}