<div class="tabs-block">

    <div class="header">
        <img src="../../content/img/tabs/logo.png" class="logo outline pointer" ng-click="vm.toStatistic()">
        <div class="logout-name-block">
            <div class="name outline" ng-click="vm.profile()">
                <img src="../../content/img/tabs/profile-ico.png" class="name-logo">
                <p>my name</p>
            </div>
            <div class="logout outline" ng-click="vm.logout()">
                <img src="../../content/img/tabs/logout-ico.png" class="logout-logo">
                <p>logout</p>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="tabs">
            <div class="tab-item outline" ng-click="vm.toSchedule()">
                <div class="wrapper">
                    <img src="../../content/img/tabs/schedule-ico.png" class="schedule-logo">
                    <span>schedule</span>
                </div>
            </div>
            <div class="tab-item outline" ng-click="vm.toChat()">
                <div class="wrapper">
                    <img src="../../content/img/tabs/chat-ico.png" class="chat-logo">
                    <span>chat</span>
                </div>
            </div>
        </div>

        <div ui-view class="scope-view"></div>
    </div>

</div>

