
<div class="statistic-block">

    <div class="statistic">

        <div class="centered-block">
            <div class="in-call-today item">
                <p class="title">total in call time today</p>
                <img src="../../content/img/statistic/total-in-call-ico.png" class="name-logo">
                <div class="footer-st">
                    <div class="time">
                        <p class="number">{{vm.my_statistic.time.hours}}</p>
                        <p class="text">hours</p>
                    </div>
                    <div class="time">
                        <p class="number">{{vm.my_statistic.time.min}}</p>
                        <p class="text">minutes</p>
                    </div>
                </div>
            </div>

            <div class="chats-today item">
                <div>
                    <p class="title">total chat</p>
                    <p class="title">contacts today</p>
                </div>
                <img src="../../content/img/statistic/total-chats-ico.png" class="chat-logo">
                <div class="footer-st">
                    <div></div>
                    <div class="time">
                        <p class="number">{{vm.my_statistic.chat}}</p>
                        <p class="text">conversation</p>
                    </div>
                    <div></div>
                </div>
            </div>

            <div class="calls-today item">
                <p class="title">total calls today</p>
                <img src="../../content/img/statistic/total-calls-ico.png" class="chat-logo">
                <div class="footer-st">
                    <div></div>
                    <div class="time">
                        <p class="number">{{vm.my_statistic.call}}</p>
                        <p class="text">conversation</p>
                    </div>
                    <div></div>
                </div>
            </div>

            <div class="this-week item">
                <p class="title">total this week</p>
                <div class="week-block-data">
                    <div class="img-block">
                        <img src="../../content/img/statistic/total-in-call-ico.png" class="in-call-logo-week">
                    </div>
                    <div class="footer-st">
                        <div class="time">
                            <p class="number">{{vm.weekly_statistic.time.hours}}</p>
                            <p class="text">hours</p>
                        </div>
                        <div class="time">
                            <p class="number">{{vm.weekly_statistic.time.min}}</p>
                            <p class="text">minutes</p>
                        </div>
                    </div>
                </div>

                <div class="week-block-data">
                    <div class="img-block">
                        <img src="../../content/img/statistic/total-chats-ico.png" class="chat-logo-week">
                    </div>
                    <div class="footer-st">
                        <div></div>
                        <div class="time">
                            <p class="number">{{vm.weekly_statistic.chat}}</p>
                            <p class="text">conversation</p>
                        </div>
                        <div></div>
                    </div>
                </div>

                <div class="week-block-data">
                    <div class="img-block">
                        <img src="../../content/img/statistic/total-calls-ico.png" class="calls-logo-week">
                    </div>
                    <div class="footer-st">
                        <div></div>
                        <div class="time">
                            <p class="number">{{vm.weekly_statistic.call}}</p>
                            <p class="text">conversation</p>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="live-room">
        <div class="title">
            <p>live room schedule</p>
        </div>

        <div ng-repeat="(name, day) in vm.schedule"  class="event-day-block">
            <div class="title-block">
                <span>{{name}}</span>
                <div class="title-line-block">
                    <div class="title-line"></div>
                    <div></div>
                </div>
            </div>

            <div ng-repeat="event in day" class="event-time-block">
                <p class="time-title">
                    {{event.time}} - {{event.name}}
                </p>

                <img src="../../content/img/statistic/arrow-ico.png" class="to-live disable-selection outline"
                     ng-click="vm.toLive()" ng-if="!event.date">

                <div ng-click="vm.editLiveRoom(event)"  ng-if="event.date" class="edit-event-button disable-selection">
                    edit
                </div>
            </div>
        </div>



        <div ng-click="vm.createLiveRoom()"  class="create-event-button create-button disable-selection">
            create live room
        </div>
    </div>

</div>