.statistic-block {
  font-family: AmericanPatrius;
  color: #0b1138;
  
  //overflow-y: scroll;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  
  .statistic {
    height: 100%;
    width: 78%;
    box-sizing: border-box;
    border-right: 1px solid #0b1138;

    .centered-block {
      width: 90%;
      margin: 10px auto 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .item {
      width: 250px;
      height: 250px;
      background-color: white;
      border: 2px solid #0b1138;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 5px;
      padding: 15px 35px 20px;
      font-size: 35px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title {
        font-family: American;
        font-size: 80%;
        line-height: 1;
      }
    }
    .this-week {

      .week-block-data {
        display: flex;
      }
      .img-block {
        width: 50px;
        margin-right: 20px;

        .in-call-logo-week {
          width: 126%;
        }
        .chat-logo-week {
          width: 100%;
        }
        .calls-logo-week {
          width: 100%;
        }
      }
      .footer-st {
        justify-content: space-around;
      }
    }

    .item:nth-child(1) {
      padding-top: 7px;
    }
    .item:nth-child(2) {
      padding-top: 7px;
    }
    .item:nth-child(4) {
      padding: 15px;
    }
    .footer-st {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
    .time{
       .number {
         font-size: 85%;
       }
       .text {
         font-size: 37%;
       }
     }
    .in-call-today {
      img {
        height: 37%;
        margin: 0 auto;
      }
    }
    .chats-today {
      img {
        height: 33%;
        margin: 0 auto;
      }
    }
    .calls-today {
      img {
        height: 29%;
        margin: 0 auto;
      }
    }
  }

  .live-room {
    height: 100%;
    width: 30%;
    max-width: 350px;
    font-size: 35px;
    cursor: context-menu;
    overflow: scroll;
    padding: 20px 30px;

    .title {
      padding-bottom: 10px;
      font-family: American;
      width: 100%;
    }

    .event-day-block {
      width: 100%;
    }
    .event-time-block {
      display: flex;
      flex-direction: row;
      position: relative;
      margin: 15px 0;
    }
    .title-block {
      font-size: 70%;
      font-family: American;
      display: flex;
      justify-content: space-between;

      .title-line-block {
        width: 100%;

        .title-line {
          box-sizing: border-box;
          border-bottom: 2px solid #0b1138;
          height: 50%;
          width: calc(100% - 10px);
          margin-left: 10px;
        }
      }
    }
    .time-title {
      width: calc(100% - 60px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
    }

    .to-live {
      position: absolute;
      top: -40%;
      right: 0;
      height: 25px;
      cursor: pointer;
    }
    .edit-event-button {
      position: absolute;
      top: -8px;
      right: 0;

      cursor: pointer;
      height: 20px;
      padding: 5px 10px 5px 10px;
      font-size: 15px;
      text-align: center;
      background-color: #64cae2;
      color: #0b1138;
      -webkit-clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
      clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
    }
    .create-event-button {
      margin: 40px auto 0;
      cursor: pointer;
      width: 160px;
      height: 20px;
      padding: 12px 20px 12px 20px;
      font-size: 15px;
      text-align: center;
      background-color: #0b1138;
      color: white;
      -webkit-clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
      clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
    }
  }
}

@media (max-width: 1100px) {
 .statistic{
   overflow: scroll;
 }
}

@media (min-width: 1500px) {
  .statistic-block .statistic .item {
    width: 300px;
    height: 300px;
    font-size: 40px;
    margin: 5px;
    padding: 15px 35px 20px;
  }
  .statistic-block .statistic .centered-block {
    width: 620px;
    margin: 10px auto 0;
  }
}
@media (min-width: 1600px) {
  .statistic-block .statistic .item {
    width: 350px;
    height: 350px;
    font-size: 45px;
    margin: 5px;
    padding: 15px 35px 20px;
  }
  .statistic-block .statistic .centered-block {
    width: 720px;
    margin: 10px auto 0;
  }
}
@media (min-width: 1900px) {
  .statistic-block .statistic .item:nth-child(1) {
    padding-top: 15px;
  }
  .statistic-block .statistic .centered-block {
    width: 820px;
    margin: 10px auto 0;
  }
}