
<div class="statistic-block">

    <div class="statistic">

        <div class="centered-block">
            <div class="in-call-today item">
                <p class="title">total in call time today</p>
                <img src="../../content/img/statistic/total-in-call-ico.png" class="name-logo">
                <div class="footer-st">
                    <div class="time">
                        <p class="number">8</p>
                        <p class="text">hours</p>
                    </div>
                    <div class="time">
                        <p class="number">42</p>
                        <p class="text">minutes</p>
                    </div>
                </div>
            </div>

            <div class="chats-today item">
                <div>
                    <p class="title">total chat</p>
                    <p class="title">contacts today</p>
                </div>
                <img src="../../content/img/statistic/total-chats-ico.png" class="chat-logo">
                <div class="footer-st">
                    <div></div>
                    <div class="time">
                        <p class="number">4</p>
                        <p class="text">conversation</p>
                    </div>
                    <div></div>
                </div>
            </div>

            <div class="calls-today item">
                <p class="title">total calls today</p>
                <img src="../../content/img/statistic/total-calls-ico.png" class="chat-logo">
                <div class="footer-st">
                    <div></div>
                    <div class="time">
                        <p class="number">5</p>
                        <p class="text">conversation</p>
                    </div>
                    <div></div>
                </div>
            </div>

            <div class="this-week item">
                <p class="title">total this week</p>
                <div class="week-block-data">
                    <div class="img-block">
                        <img src="../../content/img/statistic/total-in-call-ico.png" class="in-call-logo-week">
                    </div>
                    <div class="footer-st">
                        <div class="time">
                            <p class="number">13</p>
                            <p class="text">hours</p>
                        </div>
                        <div class="time">
                            <p class="number">42</p>
                            <p class="text">minutes</p>
                        </div>
                    </div>
                </div>

                <div class="week-block-data">
                    <div class="img-block">
                        <img src="../../content/img/statistic/total-chats-ico.png" class="chat-logo-week">
                    </div>
                    <div class="footer-st">
                        <div></div>
                        <div class="time">
                            <p class="number">17</p>
                            <p class="text">conversation</p>
                        </div>
                        <div></div>
                    </div>
                </div>

                <div class="week-block-data">
                    <div class="img-block">
                        <img src="../../content/img/statistic/total-calls-ico.png" class="calls-logo-week">
                    </div>
                    <div class="footer-st">
                        <div></div>
                        <div class="time">
                            <p class="number">13</p>
                            <p class="text">conversation</p>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="live-room">
        <div class="title">
            <p>live room schedule</p>
        </div>

        <div  class="event-day-block">
            <div class="title-block">
                <!--<span>{{event_day.day}}</span>-->

                <div class="title-line-block">
                    <div class="title-line"></div>
                    <div></div>
                </div>
            </div>

            <div class="event-time-block">
                <p class="time-title">
                    {{vm.data.time}} - {{vm.data.name}}
                </p>

                <img src="../../content/img/statistic/arrow-ico.png" class="to-live disable-selection outline"
                     ng-click="vm.toLive()" ng-if="vm.data.time">

                <div ng-click="vm.editLiveRoom(vm.data)" class="edit-event-button disable-selection">
                    edit
                </div>
            <!--</div>-->
        </div>



        <div ng-click="vm.createLiveRoom()"  class="create-event-button create-button disable-selection">
            create live room
        </div>
    </div>

</div>