@font-face {
  font-family: "American";
  src: url("fonts/American Captain.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "AmericanPatrius";
  src: url("fonts/American Captain Patrius.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Lazy";
  src: url("fonts/Lazy Spring Day.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Neue";
  src: url("fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ArimoBold";
  src: url("fonts/Arimo-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ArimoBoldItalic";
  src: url("fonts/Arimo-BoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ArimoItalic";
  src: url("fonts/Arimo-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ArimoRegular";
  src: url("fonts/Arimo-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

html, body, p {
  margin: 0;
  padding: 0; }

md-dialog {
  overflow: visible; }

i {
  cursor: pointer; }

.view-head {
  line-height: 60px; }

.bot-btn button {
  box-shadow: none !important;
  line-height: 0;
  min-height: 32px;
  margin: 0;
  min-width: 98px;
  background-color: #001041 !important; }

.bot-btn button:last-child {
  background-color: #fff !important;
  border: 2px solid #001041;
  margin-left: 40px;
  color: #001041 !important; }

md-list-item .md-list-item-inner > md-checkbox {
  margin-right: 0;
  margin-left: 10px; }

md-toolbar {
  background-color: #001041 !important; }

.warning {
  border: 2px solid red !important; }

.pointer {
  cursor: pointer;
  outline: none;
  user-select: none; }

.outline {
  outline: none; }

.disable-selection {
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/ }

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border: 1px solid #0b1138; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b1138; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0b1138; }

md-dialog {
  max-height: 100%;
  max-width: 100%;
  border-radius: 0;
  box-sizing: border-box;
  border: 2px solid #0b1138; }

body {
  -ms-scrollbar-face-color: #0b1138;
  -ms-scrollbar-arrow-color: #0b1138;
  -ms-scrollbar-base-color: white; }

.authorization {
  width: 100vw;
  height: 100vh; }
  .authorization .header-logo {
    width: 100%;
    min-width: 636px;
    height: 33.5vh;
    box-sizing: border-box;
    border-bottom: 2px solid #0b1138;
    background: url("../../content/img/authorization/bg.png") #64cae2 no-repeat top center;
    background-size: cover; }
  .authorization .body {
    width: 100%;
    min-width: 636px;
    height: calc(100vh - 33.5vh);
    background: url("../../content/img/authorization/dots.png") no-repeat center;
    background-size: cover; }
  .authorization .data-block {
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    padding-top: 35px;
    font-family: AmericanPatrius;
    color: #0b1138; }
  .authorization .title {
    cursor: context-menu;
    font-size: 49px;
    margin-bottom: 10px;
    text-align: center;
    font-family: American; }
  .authorization .input-block {
    border: 1px solid #0b1138;
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
    margin-bottom: 40px; }
    .authorization .input-block .description {
      cursor: context-menu;
      width: 158px;
      height: 42px;
      box-sizing: border-box;
      border-right: 1px solid #0b1138;
      background-color: white;
      text-transform: uppercase;
      font-size: 20px;
      padding-top: calc((25px - 10px) / 2);
      padding-left: 15px; }
    .authorization .input-block .input {
      width: 476px;
      height: 42px;
      box-sizing: border-box;
      background-color: white;
      border: none;
      padding-left: 15px;
      font-family: AmericanPatrius;
      font-size: 20px;
      color: #0b1138;
      outline: none; }
    .authorization .input-block .new-description {
      width: 250px; }
    .authorization .input-block .new-input {
      width: 380px; }
  .authorization .button-zone {
    display: flex;
    justify-content: space-between; }
  .authorization .forgot {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 19px;
    margin-top: 9px;
    margin-left: -3px;
    text-decoration: underline; }
  .authorization .button {
    cursor: pointer;
    margin-top: -6px;
    padding: 15px 0 18px 0;
    font-size: 19px;
    text-align: center;
    background-color: #0b1138;
    color: white;
    -webkit-clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
    clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0); }
  .authorization .login {
    width: 125px; }
  .authorization .new-pass {
    width: 277px;
    margin-top: 0;
    -webkit-clip-path: polygon(0 15%, 5% 100%, 100% 70%, 100% 0);
    clip-path: polygon(0 15%, 5% 100%, 100% 70%, 100% 0); }
  .authorization .save {
    width: 124px;
    margin-top: 1px; }

.tabs-block {
  font-family: AmericanPatrius;
  color: #0b1138; }
  .tabs-block .header {
    background-color: #64cae2;
    border-bottom: 2px solid #0b1138;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative; }
    .tabs-block .header span {
      border: none; }
    .tabs-block .header .logo {
      height: 96%;
      -webkit-clip-path: polygon(0 0, 0 100%, 33% 100%, 44% 96%, 68% 83%, 83% 61%, 100% 20%, 100% 0);
      clip-path: polygon(0 0, 0 100%, 33% 100%, 44% 96%, 68% 83%, 83% 61%, 100% 20%, 100% 0); }
    .tabs-block .header .logout-name-block {
      display: flex;
      position: absolute;
      bottom: 12px;
      right: 17px; }
    .tabs-block .header .name {
      margin-right: 8vw; }
    .tabs-block .header .logout {
      position: relative;
      cursor: pointer;
      display: flex; }
    .tabs-block .header .name, .tabs-block .header .logout {
      position: relative;
      cursor: pointer;
      width: max-content;
      align-items: baseline;
      display: flex; }
      .tabs-block .header .name p, .tabs-block .header .logout p {
        padding-left: 10px; }
  .tabs-block .body {
    display: flex;
    height: calc(100vh - 143px); }
    .tabs-block .body .tabs {
      width: 20%;
      min-width: 200px;
      height: 100%;
      background-color: white;
      box-sizing: border-box;
      border-right: 1px solid #0b1138;
      transition: all 0.3s ease;
      position: relative; }
      .tabs-block .body .tabs--hide {
        margin-left: -20%; }
      .tabs-block .body .tabs .tabs-btn {
        position: absolute;
        right: -26px;
        border: none;
        padding: 0;
        background: #64CAE2;
        z-index: 1;
        height: 56px;
        border-radius: 0 50% 50% 0; }
        .tabs-block .body .tabs .tabs-btn img {
          height: 25px; }
        .tabs-block .body .tabs .tabs-btn .img-scale {
          transform: scale(-1); }
      .tabs-block .body .tabs .tabs-btn:focus {
        outline: none; }
      .tabs-block .body .tabs .tab-item {
        cursor: pointer;
        height: 100px;
        border-bottom: 2px solid #cdf2fd;
        box-sizing: border-box;
        position: relative;
        margin: auto; }
        .tabs-block .body .tabs .tab-item .wrapper {
          padding: 20px 15px; }
          .tabs-block .body .tabs .tab-item .wrapper span {
            font-size: 18px;
            margin-left: 10px; }
        .tabs-block .body .tabs .tab-item .schedule-logo {
          height: auto; }
        .tabs-block .body .tabs .tab-item .chat-logo {
          height: auto; }
    .tabs-block .body .base-width {
      width: 80%; }
    .tabs-block .body .full-width {
      width: 100%; }
    .tabs-block .body .scope-view {
      height: 100%;
      width: 100%;
      background: url("../../content/img/tabs/dots.png") no-repeat left center;
      background-size: cover; }

@media (max-width: 1012px) {
  .body .base-width {
    width: calc(100% - 200px) !important; }
  .body .tabs {
    width: 200px !important; }
    .body .tabs--hide {
      margin-left: -200px !important; } }

.statistic-block {
  font-family: AmericanPatrius;
  color: #0b1138;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex; }
  .statistic-block .statistic {
    height: 100%;
    width: 80%;
    box-sizing: border-box;
    border-right: 1px solid #0b1138;
    overflow: auto; }
    .statistic-block .statistic .centered-block {
      width: 90%;
      margin: 10px auto 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
    .statistic-block .statistic .item {
      width: 250px;
      height: 250px;
      background-color: white;
      border: 2px solid #0b1138;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 5px;
      padding: 15px 35px 20px;
      font-size: 35px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .statistic-block .statistic .item .title {
        font-family: American;
        font-size: 80%;
        line-height: 1; }
    .statistic-block .statistic .this-week .week-block-data {
      display: flex; }
    .statistic-block .statistic .this-week .img-block {
      width: 50px;
      margin-right: 20px; }
      .statistic-block .statistic .this-week .img-block .in-call-logo-week {
        width: 126%; }
      .statistic-block .statistic .this-week .img-block .chat-logo-week {
        width: 100%; }
      .statistic-block .statistic .this-week .img-block .calls-logo-week {
        width: 100%; }
    .statistic-block .statistic .this-week .footer-st {
      justify-content: space-around; }
    .statistic-block .statistic .item:nth-child(1) {
      padding-top: 7px; }
    .statistic-block .statistic .item:nth-child(2) {
      padding-top: 7px; }
    .statistic-block .statistic .item:nth-child(4) {
      padding: 15px; }
    .statistic-block .statistic .footer-st {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
      text-align: center; }
    .statistic-block .statistic .time .number {
      font-size: 85%; }
    .statistic-block .statistic .time .text {
      font-size: 37%; }
    .statistic-block .statistic .in-call-today img {
      height: 37%;
      margin: 0 auto; }
    .statistic-block .statistic .chats-today img {
      height: 33%;
      margin: 0 auto; }
    .statistic-block .statistic .calls-today img {
      height: 29%;
      margin: 0 auto; }
  .statistic-block .live-room {
    width: 20%;
    font-size: 35px;
    cursor: context-menu;
    overflow: auto;
    padding: 20px 30px;
    min-width: 180px; }
    .statistic-block .live-room .title {
      padding-bottom: 10px;
      font-family: American;
      width: 100%; }
    .statistic-block .live-room .event-day-block {
      width: 100%; }
    .statistic-block .live-room .event-time-block {
      display: flex;
      flex-direction: row;
      position: relative;
      margin: 15px 0; }
    .statistic-block .live-room .title-block {
      font-size: 70%;
      font-family: American;
      display: flex;
      justify-content: space-between; }
      .statistic-block .live-room .title-block .title-line-block {
        width: 100%; }
        .statistic-block .live-room .title-block .title-line-block .title-line {
          box-sizing: border-box;
          border-bottom: 2px solid #0b1138;
          height: 50%;
          width: calc(100% - 10px);
          margin-left: 10px; }
    .statistic-block .live-room .time-title {
      width: calc(100% - 60px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px; }
    .statistic-block .live-room .to-live {
      position: absolute;
      top: -40%;
      right: 0;
      height: 25px;
      cursor: pointer; }
    .statistic-block .live-room .edit-event-button {
      position: absolute;
      top: -8px;
      right: 0;
      cursor: pointer;
      height: 20px;
      padding: 5px 10px 5px 10px;
      font-size: 15px;
      text-align: center;
      background-color: #64cae2;
      color: #0b1138;
      -webkit-clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
      clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0); }
    .statistic-block .live-room .create-event-button {
      margin: 40px auto 0;
      cursor: pointer;
      width: 160px;
      height: 20px;
      padding: 12px 20px 12px 20px;
      font-size: 15px;
      text-align: center;
      background-color: #0b1138;
      color: white;
      -webkit-clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
      clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0); }

@media (min-width: 1400px) {
  .statistic-block .statistic .item {
    width: 300px;
    height: 300px;
    font-size: 40px;
    margin: 5px;
    padding: 15px 35px 20px; }
  .statistic-block .statistic .centered-block {
    width: 620px;
    margin: 10px auto 0; } }

@media (min-width: 1600px) {
  .statistic-block .statistic .item {
    width: 350px;
    height: 350px;
    font-size: 45px;
    margin: 5px;
    padding: 15px 35px 20px; }
  .statistic-block .statistic .centered-block {
    width: 720px;
    margin: 10px auto 0; } }

@media (min-width: 1900px) {
  .statistic-block .statistic .item:nth-child(1) {
    padding-top: 15px; }
  .statistic-block .statistic .centered-block {
    width: 820px;
    margin: 10px auto 0; } }

.schedule {
  font-family: AmericanPatrius;
  color: #0b1138;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row; }
  .schedule .sidebar {
    width: 23%;
    height: 100%;
    overflow: auto;
    padding-left: 15px;
    border-left: 1px solid #0b1138; }
    .schedule .sidebar .title {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: American;
      font-size: 40px;
      padding-top: 20px; }
      .schedule .sidebar .title span {
        padding: 0 20px; }
      .schedule .sidebar .title img {
        height: 40px; }
    .schedule .sidebar .busy-on-day {
      width: 90%;
      margin: 0 auto; }
      .schedule .sidebar .busy-on-day .day-name-block {
        display: flex;
        align-items: center; }
        .schedule .sidebar .busy-on-day .day-name-block .day-name {
          width: 55px;
          text-align: center;
          font-family: American;
          font-size: 30px; }
      .schedule .sidebar .busy-on-day .day-line {
        box-sizing: border-box;
        border-bottom: 2px solid #0b1138;
        height: 50%;
        width: calc(65%);
        margin-left: 5px; }
      .schedule .sidebar .busy-on-day .day-time-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        padding: 5px 0; }
        .schedule .sidebar .busy-on-day .day-time-block p {
          padding: 5px 0; }
  .schedule .schedule-fullcalendar {
    width: 78%;
    overflow: auto; }
  .schedule .fc-unthemed th, .schedule .fc-unthemed td, .schedule .fc-unthemed thead, .schedule .fc-unthemed tbody, .schedule .fc-unthemed .fc-divider, .schedule .fc-unthemed .fc-row, .schedule .fc-unthemed .fc-content, .schedule .fc-unthemed .fc-popover {
    border-color: #7F8397; }
  .schedule .fc {
    font-size: 1em;
    width: 100%; }
    .schedule .fc tr {
      height: 30px;
      line-height: 30px; }
    .schedule .fc .fc-head {
      background: #64CAE2; }
    .schedule .fc .fc-body {
      background: #fff; }
  .schedule .fc-axis {
    text-align: center;
    width: 60px !important; }
  .schedule .fc-scroller.fc-time-grid-container {
    height: auto !important; }
  .schedule .fc-toolbar h2 {
    margin: 0;
    margin-top: 20px;
    font-family: American;
    font-size: 40px; }
  .schedule .fc-event-active {
    z-index: 999;
    background: #6BA5C1;
    color: white;
    height: 110px;
    width: 110px;
    border: 1px solid black;
    position: absolute;
    font-size: 12px; }
  .schedule .schedule-tbn {
    display: flex;
    justify-content: flex-end;
    cursor: pointer; }
    .schedule .schedule-tbn .update {
      text-decoration: underline; }
    .schedule .schedule-tbn .send {
      cursor: pointer;
      margin: 20px 40px;
      width: 80px;
      height: 40px;
      background-color: #0b1138;
      color: white;
      border: none;
      -webkit-clip-path: polygon(0 15%, 10% 100%, 100% 65%, 100% 0%);
      font-family: AmericanPatrius; }

md-list {
  font-family: AmericanPatrius;
  color: #0b1138;
  font-size: 22px;
  text-align: center; }

.md-button.md-primary {
  color: #0b1138 !important;
  text-decoration: underline;
  font-size: 18px; }

.live-room-popup {
  background: white;
  color: #0b1138;
  border: 2px solid #0b1138;
  border-radius: unset;
  padding: 20px 20px 10px;
  font-size: 16px;
  font-family: AmericanPatrius;
  width: 560px;
  min-width: 560px; }
  .live-room-popup .description {
    width: 75px;
    font-size: 100%;
    text-align: center;
    border: 1px solid #0b1138;
    padding-top: 4px; }
  .live-room-popup .input {
    width: calc(100% - 75px);
    border: 1px solid #0b1138;
    border-left: none;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: AmericanPatrius;
    color: #0b1138;
    outline: none; }
  .live-room-popup .input-form {
    height: 30px; }
  .live-room-popup .name-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px; }
  .live-room-popup .date-time-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px; }
    .live-room-popup .date-time-block .date-block {
      width: 50%;
      display: flex;
      flex-direction: row; }
    .live-room-popup .date-time-block .time-block {
      width: calc(50% - 20px);
      display: flex;
      flex-direction: row; }
  .live-room-popup .photo-block {
    min-width: 235px;
    width: 70%;
    margin: 0 auto 20px;
    border: 1px solid #0b1138;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%; }
    .live-room-popup .photo-block .photo {
      margin: 31% auto 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .live-room-popup .photo-block .photo img {
        height: 30px;
        width: 40px;
        padding-bottom: 5px; }
      .live-room-popup .photo-block .photo span {
        text-decoration: underline;
        cursor: pointer; }
    .live-room-popup .photo-block .white-camera {
      position: absolute;
      bottom: 7px;
      right: 7px;
      height: 35px;
      cursor: pointer; }
  .live-room-popup .button-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto; }
    .live-room-popup .button-block .create-update-button {
      cursor: pointer;
      height: 20px;
      padding: 5px 10px 5px 10px;
      font-size: 15px;
      text-align: center;
      background-color: #e31b4f;
      color: white;
      -webkit-clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
      clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0); }
    .live-room-popup .button-block .close-remove-button {
      text-decoration: underline;
      cursor: pointer; }

.incoming-call {
  width: 600px;
  box-sizing: border-box;
  padding: 20px 20px 5px; }
  .incoming-call .info {
    margin: 0 auto;
    width: 290px; }
    .incoming-call .info .image {
      width: 290px;
      height: 290px;
      box-sizing: border-box;
      border: 1px solid #0b1138; }
    .incoming-call .info .name {
      margin-top: 24px;
      font-family: AmericanPatrius;
      font-size: 28px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .incoming-call .buttons {
    margin-top: -70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .incoming-call .buttons img {
      padding: 15px;
      height: 70px; }
    .incoming-call .buttons .reject {
      height: 65px;
      margin-top: 5px; }

.incoming-on-busy {
  padding: 15px 20px;
  font-family: AmericanPatrius;
  font-size: 30px;
  box-sizing: border-box; }
  .incoming-on-busy .recent-actions {
    width: fit-content;
    margin: 0 auto 10px;
    background-color: #0b1138;
    color: white;
    font-size: 50%;
    padding: 5px 10px 10px 10px;
    -webkit-clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
    clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
    cursor: pointer; }
  .incoming-on-busy .main .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .incoming-on-busy .main .info .kid-img {
      width: 210px;
      height: 280px;
      box-sizing: border-box;
      border: 1px solid #0b1138; }
    .incoming-on-busy .main .info .kid-name {
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 55%;
      margin: 15px 0; }
  .incoming-on-busy .main .logs {
    font-size: 100%;
    width: 523px;
    height: 280px;
    box-sizing: border-box;
    overflow-y: auto; }
    .incoming-on-busy .main .logs .log {
      width: 100%;
      background-color: #caf2fd;
      padding: 5px 10px;
      margin-bottom: 10px;
      box-sizing: border-box; }
      .incoming-on-busy .main .logs .log .head {
        display: flex;
        justify-content: space-between;
        font-size: 60%; }
        .incoming-on-busy .main .logs .log .head .time-of-creation {
          display: flex; }
          .incoming-on-busy .main .logs .log .head .time-of-creation .date {
            margin-right: 10px; }
      .incoming-on-busy .main .logs .log .message {
        word-break: break-word;
        font-size: 60%;
        font-family: Neue; }
    .incoming-on-busy .main .logs .log:last-child {
      margin-bottom: 0; }
  .incoming-on-busy .main .description {
    padding: 10px;
    width: 100%;
    border: 1px solid #0b1138;
    box-sizing: border-box;
    resize: none;
    font-family: Neue;
    font-size: 60%;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .incoming-on-busy .main .buttons {
    width: 523px;
    margin: -25px 0 0 auto;
    display: flex;
    flex-direction: row; }
    .incoming-on-busy .main .buttons img {
      padding: 15px;
      height: 50px;
      width: auto; }
    .incoming-on-busy .main .buttons .cell {
      display: block;
      width: calc(100% / 3);
      font-size: 20px;
      text-align: center; }

.kid-detail {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between; }
  .kid-detail .half {
    width: calc(50% - 5px);
    height: 100%; }
    .kid-detail .half .title {
      font-family: American;
      font-size: 120%; }
    .kid-detail .half .parent {
      margin-bottom: 40px; }
    .kid-detail .half .parent:last-child {
      margin-bottom: 0; }
    .kid-detail .half .section {
      display: flex;
      border-bottom: 1px solid #0b1138;
      margin-bottom: 10px; }
      .kid-detail .half .section .image {
        margin-bottom: -5px;
        width: 50px; }
      .kid-detail .half .section .info-pole {
        font-size: 60%;
        margin: 10px 0 0 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 50px); }

@media screen and (max-width: 1025px) {
  .kid-detail {
    display: block; }
  .chat .detail-and-logs .half.half-mod {
    width: 100%; } }

.logs-include {
  width: 100%;
  height: 100%;
  border-left: 1px solid #0b1138; }
  .logs-include .button-block {
    padding: 5px 20px;
    display: flex;
    justify-content: flex-end; }
    .logs-include .button-block .button {
      width: 160px;
      width: fit-content;
      background-color: #0b1138;
      color: white;
      font-size: 60%;
      padding: 9px 10px 12px 10px;
      -webkit-clip-path: polygon(0 15%, 5% 95%, 100% 70%, 100% 0);
      clip-path: polygon(0 15%, 5% 95%, 100% 70%, 100% 0);
      cursor: pointer;
      text-align: center; }
  .logs-include .logs-list {
    overflow-y: auto;
    width: 100%;
    height: calc(100% - 53px);
    box-sizing: border-box; }
  .logs-include .log {
    width: 99%;
    background-color: #caf2fd;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 0 auto 10px auto; }
    .logs-include .log .head {
      display: flex;
      justify-content: space-between;
      font-size: 60%; }
      .logs-include .log .head .time-of-creation {
        display: flex; }
        .logs-include .log .head .time-of-creation .date {
          margin-right: 10px; }
    .logs-include .log .message {
      word-break: break-word;
      font-size: 60%;
      font-family: Neue; }

.send-log-dialog {
  padding: 15px 20px;
  font-family: AmericanPatrius;
  font-size: 30px;
  box-sizing: border-box; }
  .send-log-dialog .recent-actions {
    width: fit-content;
    margin: 0 auto 10px;
    background-color: #0b1138;
    color: white;
    font-size: 50%;
    padding: 5px 10px 10px 10px;
    -webkit-clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
    clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
    cursor: pointer; }
  .send-log-dialog .main .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .send-log-dialog .main .info .kid-img {
      width: 210px;
      height: 280px;
      box-sizing: border-box;
      border: 1px solid #0b1138; }
    .send-log-dialog .main .info .kid-name {
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 50%;
      margin: 15px 0; }
  .send-log-dialog .main .logs {
    font-size: 100%;
    width: 523px;
    height: 280px;
    box-sizing: border-box;
    overflow-y: auto; }
    .send-log-dialog .main .logs .log {
      width: 100%;
      background-color: #caf2fd;
      padding: 5px 10px;
      margin-bottom: 10px;
      box-sizing: border-box; }
      .send-log-dialog .main .logs .log .head {
        display: flex;
        justify-content: space-between;
        font-size: 60%; }
        .send-log-dialog .main .logs .log .head .time-of-creation {
          display: flex; }
          .send-log-dialog .main .logs .log .head .time-of-creation .date {
            margin-right: 10px; }
      .send-log-dialog .main .logs .log .message {
        font-size: 60%;
        font-family: Neue; }
    .send-log-dialog .main .logs .log:last-child {
      margin-bottom: 0; }
  .send-log-dialog .main .description {
    padding: 10px;
    width: 100%;
    border: 1px solid #0b1138;
    box-sizing: border-box;
    resize: none;
    font-family: Neue;
    font-size: 60%;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .send-log-dialog .main .button {
    width: fit-content;
    margin: 10px 0 0 auto;
    background-color: #e31b4f;
    color: white;
    font-size: 50%;
    padding: 7px 12px 7px 12px;
    -webkit-clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
    clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
    cursor: pointer; }

.send-emergency-log-dialog {
  width: 600px;
  padding: 20px;
  font-family: American;
  font-size: 40px;
  box-sizing: border-box; }
  .send-emergency-log-dialog .title {
    width: 100%;
    text-align: center;
    color: #0b1138;
    cursor: default;
    margin: 20px; }
  .send-emergency-log-dialog .description {
    padding: 10px;
    width: 100%;
    border: 1px solid #0b1138;
    box-sizing: border-box;
    resize: none;
    font-family: Neue;
    font-size: 60%;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .send-emergency-log-dialog .button {
    font-family: AmericanPatrius;
    width: fit-content;
    margin: 10px 0 0 auto;
    background-color: #e31b4f;
    color: white;
    font-size: 50%;
    padding: 7px 12px 7px 12px;
    -webkit-clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
    clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
    cursor: pointer; }

.state-go-warning {
  font-family: AmericanPatrius; }
  .state-go-warning .md-dialog-content {
    padding: 24px 24px 10px; }
  .state-go-warning .title {
    width: 100%;
    text-align: center; }
  .state-go-warning .content {
    font-family: AmericanPatrius;
    font-size: 16px;
    color: #0b1138; }
  .state-go-warning .button {
    cursor: pointer;
    height: 20px;
    padding: 5px 20px 10px 20px;
    margin-right: 16px;
    font-size: 20px;
    text-align: center;
    background-color: #0b1138;
    color: white;
    -webkit-clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
    clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0); }

.chat {
  font-family: AmericanPatrius;
  font-size: 30px;
  color: #0b1138;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row; }
  .chat .chat-body {
    width: 78%;
    height: 100%;
    position: relative; }
    .chat .chat-body .load-linear {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1; }
    .chat .chat-body .load-circular {
      position: absolute;
      top: 5px;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 1;
      width: 40px;
      height: 40px; }
      .chat .chat-body .load-circular svg {
        width: 40px !important;
        height: 40px !important;
        transform-origin: 20px 20px 20px !important; }
  .chat .messages {
    width: 100%;
    height: calc((100% - 50px) / 2);
    overflow-y: scroll;
    position: relative;
    padding-left: 20px;
    box-sizing: border-box; }
    .chat .messages .load {
      margin-top: 10px;
      color: #0b1138;
      z-index: 1;
      position: fixed;
      left: calc(50% - 33px);
      right: auto;
      background-color: #caf2fd;
      font-size: 14px;
      padding: 10px;
      border-radius: 25px;
      font-family: AmericanPatrius; }
    .chat .messages .other-message {
      width: 70%;
      margin-left: 10px;
      margin-bottom: 10px; }
      .chat .messages .other-message .my-message p {
        font-family: Neue;
        font-size: 50%;
        background-color: #64cae2;
        padding: 10px; }
      .chat .messages .other-message .message-time {
        display: inline-flex;
        flex-direction: row-reverse; }
        .chat .messages .other-message .message-time p {
          font-size: 12px;
          margin: 0;
          font-family: AmericanPatrius; }
        .chat .messages .other-message .message-time .info {
          text-align: right; }
        .chat .messages .other-message .message-time .contact {
          margin-right: 5px; }
          .chat .messages .other-message .message-time .contact .avatar {
            border: 1px solid #0b1138;
            width: 30px;
            height: 30px;
            background-color: white; }
          .chat .messages .other-message .message-time .contact .trigon {
            margin: 1px auto 0;
            width: 15px;
            height: 10px;
            background-color: #64cae2;
            -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
            clip-path: polygon(50% 0, 100% 100%, 0 100%); }
    .chat .messages .my-message-block {
      width: 70%;
      margin-left: auto;
      margin-right: 10px;
      margin-bottom: 10px; }
      .chat .messages .my-message-block .my-message p {
        font-family: Neue;
        font-size: 50%;
        background-color: #caf2fd;
        padding: 10px; }
      .chat .messages .my-message-block .message-time {
        display: flex;
        justify-content: flex-end; }
        .chat .messages .my-message-block .message-time p {
          font-size: 12px;
          margin: 0;
          font-family: AmericanPatrius; }
        .chat .messages .my-message-block .message-time .info {
          text-align: right; }
        .chat .messages .my-message-block .message-time .contact {
          margin-left: 5px; }
          .chat .messages .my-message-block .message-time .contact .avatar {
            border: 1px solid #0b1138;
            width: 30px;
            height: 30px;
            background-color: white; }
          .chat .messages .my-message-block .message-time .contact .trigon {
            margin: 1px auto 0;
            width: 15px;
            height: 10px;
            background-color: #caf2fd;
            -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
            clip-path: polygon(50% 0, 100% 100%, 0 100%); }
    .chat .messages .day {
      display: flex;
      justify-content: center;
      margin-top: 10px; }
      .chat .messages .day p {
        font-size: 90%;
        font-family: American;
        color: #0b1138;
        text-transform: uppercase;
        padding: 7px; }
      .chat .messages .day .title-line-block {
        width: 30%; }
        .chat .messages .day .title-line-block .title-line {
          box-sizing: border-box;
          border-bottom: 2px solid #0b1138;
          height: 50%;
          width: 100%; }
  .chat .send-box {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #64cae2;
    border-top: 1px solid #0b1138;
    border-bottom: 1px solid #0b1138; }
    .chat .send-box input {
      width: calc(100% - 105px);
      border: 1px solid #0b1138;
      padding: 0 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-family: Neue;
      font-size: 50%; }
    .chat .send-box .button {
      margin: 0 15px;
      background-color: #0b1138;
      color: white;
      font-size: 50%;
      padding: 5px 10px 5px 10px;
      -webkit-clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
      clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
      cursor: pointer; }
  .chat .detail-and-logs {
    width: 100%;
    height: calc((100% - 50px) / 2);
    display: flex; }
    .chat .detail-and-logs .half {
      width: 50%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .chat .detail-and-logs .kid-detail {
      height: auto;
      overflow: auto; }
    .chat .detail-and-logs .half:first-child {
      padding: 0 10px 0; }
  .chat .user-panel {
    width: 22%;
    height: 100%;
    overflow-y: auto;
    padding: 0 10px;
    border-left: 1px solid #0b1138; }
    .chat .user-panel .title {
      font-size: 100%; }
    .chat .user-panel .user {
      width: 100%;
      margin: 10px 0;
      outline: none; }
    .chat .user-panel .info {
      display: flex;
      flex-direction: row;
      cursor: pointer; }
    .chat .user-panel .name {
      width: 205px;
      font-size: 50%;
      padding-top: 12px;
      margin-left: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .chat .user-panel .man-ico {
      height: 40px; }
    .chat .user-panel .phone-ico {
      height: 40px;
      outline: none; }
    .chat .user-panel .offline-status {
      width: 10px;
      height: 10px;
      background-color: white;
      margin-top: 18px;
      margin-right: 5px; }
    .chat .user-panel .online-status {
      background-color: #e31b4f; }
  .chat .one-vs-one {
    display: none;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow-y: auto; }
    .chat .one-vs-one .half {
      width: 50%;
      height: 100%;
      box-sizing: border-box;
      padding: 30px; }
    .chat .one-vs-one .logs-incl, .chat .one-vs-one .detail-incl {
      width: 100%; }
    .chat .one-vs-one .detail-and-logs {
      height: calc(100% - 50vmin);
      margin-top: -7px; }
      .chat .one-vs-one .detail-and-logs .half {
        padding: 0 10px 0; }
    .chat .one-vs-one .video {
      text-align: center; }
      .chat .one-vs-one .video video {
        border: 5px solid #0b1138;
        background: black;
        width: 100%;
        height: 55vmin;
        margin: 0 auto;
        box-sizing: border-box; }
  .chat .one-vs-one-vs-chat {
    display: none;
    width: 100%;
    box-sizing: border-box; }
    .chat .one-vs-one-vs-chat .top-lvl-half {
      width: 50%;
      box-sizing: border-box;
      padding: 20px; }
      .chat .one-vs-one-vs-chat .top-lvl-half .kid-detail {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        height: calc(50% - 80px); }
        .chat .one-vs-one-vs-chat .top-lvl-half .kid-detail .kid {
          box-sizing: border-box;
          padding-right: 10px; }
      .chat .one-vs-one-vs-chat .top-lvl-half .buttons {
        display: flex;
        font-size: 18px; }
        .chat .one-vs-one-vs-chat .top-lvl-half .buttons .leave {
          text-decoration: underline;
          margin: 0 10px 0 auto;
          cursor: pointer; }
        .chat .one-vs-one-vs-chat .top-lvl-half .buttons .add-comment {
          margin: 0 10px 0 auto;
          background-color: #0b1138;
          color: white;
          padding: 5px 10px 5px 10px;
          -webkit-clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
          clip-path: polygon(0 15%, 7% 100%, 100% 70%, 100% 0);
          cursor: pointer; }
      .chat .one-vs-one-vs-chat .top-lvl-half .short {
        flex-direction: row-reverse; }
        .chat .one-vs-one-vs-chat .top-lvl-half .short .short-leave {
          margin: 0 10px; }
        .chat .one-vs-one-vs-chat .top-lvl-half .short .short-comment {
          margin: 0 10px 0 30px; }
        .chat .one-vs-one-vs-chat .top-lvl-half .short .hang-up-ico {
          height: 20px;
          cursor: pointer; }
      .chat .one-vs-one-vs-chat .top-lvl-half .video {
        text-align: center;
        margin-bottom: 20px;
        height: 50%; }
        .chat .one-vs-one-vs-chat .top-lvl-half .video #vid-box {
          height: 100%; }
          .chat .one-vs-one-vs-chat .top-lvl-half .video #vid-box .video-wrapper {
            height: 100%; }
        .chat .one-vs-one-vs-chat .top-lvl-half .video video {
          border: 5px solid #0b1138;
          background: black;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          box-sizing: border-box; }
        .chat .one-vs-one-vs-chat .top-lvl-half .video video:first-child {
          width: 100%;
          height: 500px; }
      .chat .one-vs-one-vs-chat .top-lvl-half .info {
        display: flex;
        justify-content: space-between; }
        .chat .one-vs-one-vs-chat .top-lvl-half .info .kid-detail {
          width: calc(50% - 20px);
          margin-right: 10px; }
          .chat .one-vs-one-vs-chat .top-lvl-half .info .kid-detail .half {
            width: 100%; }
        .chat .one-vs-one-vs-chat .top-lvl-half .info .video {
          width: calc(50% - 20px);
          margin-left: 10px; }
          .chat .one-vs-one-vs-chat .top-lvl-half .info .video video {
            border: 5px solid #0b1138;
            background: black;
            width: 100%;
            height: 275px;
            margin: 0 auto;
            box-sizing: border-box; }
    .chat .one-vs-one-vs-chat .top-lvl-half:first-child {
      border-right: 1px solid #0b1138;
      padding: 0; }
  .chat .multi {
    display: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .chat .multi .main {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 80%;
      padding-top: 30px; }
      .chat .multi .main .wrapper {
        display: flex;
        height: 100%; }
        .chat .multi .main .wrapper .video2 {
          width: 70%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          margin: 0 30px; }
          .chat .multi .main .wrapper .video2 .video-wrapper {
            width: calc(50% - 10px);
            height: 40%;
            margin-bottom: 20px; }
            .chat .multi .main .wrapper .video2 .video-wrapper video {
              width: 100%;
              height: 100%;
              background-color: black;
              border: 1px solid #0b1138;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box; }
          .chat .multi .main .wrapper .video2 .video-wrapper:first-child {
            width: 100%;
            height: 55%; }
        .chat .multi .main .wrapper .detail-and-logs {
          width: 30%;
          display: block;
          border: 1px solid black;
          border-right: none;
          height: max-content; }
        .chat .multi .main .wrapper .kid-detail {
          height: auto; }
          .chat .multi .main .wrapper .kid-detail .half {
            padding: 20px;
            width: 100%; }
        .chat .multi .main .wrapper .logs-include {
          border-top: 1px solid black;
          border-left: none; }
          .chat .multi .main .wrapper .logs-include .logs-list {
            height: 340px; }
    .chat .multi .user-panel .man-ico {
      height: 40px;
      width: 40px;
      border: 1px solid #0b1138;
      background: white; }
  .chat .detail {
    width: 100%; }
  .chat .logs {
    width: 100%; }
  .chat .video-wrapper {
    position: relative; }
  .chat .warning-ico {
    position: absolute;
    top: 20px;
    left: 25px;
    z-index: 1; }

@media screen and (max-width: 1025px) {
  .logs-include .logs-list {
    padding: 10px; }
  .logs-include .log .head {
    font-size: 50%;
    display: block; }
  .chat .multi .main .wrapper .video2 .video-wrapper {
    width: 100%;
    height: auto; }
  .chat .multi .main .wrapper .video2 .video-wrapper:first-child {
    width: 100%;
    height: auto; }
  .chat .one-vs-one .video video {
    height: 27vmin; }
  .chat .one-vs-one .detail-and-logs {
    height: calc(100% - 27vmin); }
    .chat .one-vs-one .detail-and-logs .half {
      width: 100%; }
    .chat .one-vs-one .detail-and-logs .kid-detail {
      display: block;
      height: auto; }
  .chat .one-vs-one .half {
    width: 90%;
    padding: 5px; } }
