<div class="incoming-on-busy">

    <div class="recent-actions">recent actions</div>

    <div class="main">

        <div class="info">
            <div class="contact">
                <div class="kid-img">

                </div>

                <div class="kid-name">
                    {{vm.opponent_name}}
                </div>
            </div>

            <div class="logs">
                <div ng-repeat="log in vm.logs" class="log">
                    <div class="head">
                        <div class="name">{{vm.consName(log)}}</div>
                        <div class="time-of-creation">
                            <div class="date">{{vm.dateConvert(log.created_at, true)}}</div>
                            <div class="time">{{vm.timeConvert(log.created_at, true)}}</div>
                        </div>
                    </div>

                    <div class="message">{{log.content}}</div>
                </div>
            </div>

        </div>

        <div class="buttons">
            <div class="accept cell">
                <img src="../../content/img/video-calls/add-to-call.png" ng-click="vm.addToCurrent()">
                <p>add to call</p>
            </div>
            <div class="chat cell">
                <img src="../../content/img/video-calls/go-to-chat.png" ng-click="vm.toChat()">
                <p>go to chat</p>
            </div>
            <div class="reject cell">
                <img src="../../content/img/video-calls/hang-up.png" ng-click="vm.reject()">
                <p>hang up</p>
            </div>
        </div>

    </div>


</div>