<!--<div class="incoming-on-busy">-->

<!--</div>-->

<div class="send-log-dialog">

    <div class="recent-actions">recent actions</div>

    <div class="main">

        <div class="info">
            <div class="contact">
                <div class="kid-img">

                </div>

                <div class="kid-name">
                    {{vm.opponent_name}}
                </div>
            </div>

            <div class="logs">
                <div ng-repeat="log in vm.logs" class="log">
                    <div class="head">
                        <div class="name">{{vm.consName(log)}}</div>
                        <div class="time-of-creation">
                            <div class="date">{{vm.dateConvert(log.created_at, true)}}</div>
                            <div class="time">{{vm.timeConvert(log.created_at, true)}}</div>
                        </div>
                    </div>

                    <div class="message">{{log.content}}</div>
                </div>
            </div>

            <div>
                <img src="../../content/img/video-calls/add-to-call.png" class="accept" ng-click="vm.accept()">
                <img src="../../content/img/video-calls/go-to-chat.png" class="reject" ng-click="vm.toChat()">
                <img src="../../content/img/video-calls/hang-up.png" class="reject" ng-click="vm.reject()">
            </div>
        </div>

    </div>


</div>