<div class="call3">

    <div class = "bodyDiv">

        <div id="vid-box" class="video2"></div>
        <div id="vid-thumb"></div>


        <div id="inCall" class="ptext">
            <button id="end" ng-click="vm.end()" >End</button>
            <button id="mute" ng-click="vm.mute()">Mute</button>
            <button id="pause" ng-click="vm.pause()">Pause</button>
        </div>

        <div id="logs" class="ptext"></div>

    </div>

    <div class="user-panel">
        <div class="title">Users</div>
        <div ng-repeat="user in vm.users track by $index" class="user-block">
            <div style="display: flex; flex-direction: row;">
                <img src="../../content/img/tabs/profile-ico.png" class="man-ico">
                <div class="offline-status" ng-class="vm.userOnlineStatus($index)"></div>
                <div class="name">{{user.name}}</div>
            </div>
            <div>
                <img src="../../content/img/statistic/total-calls-ico.png" class="phone-ico" ng-click="vm.call(user)"
                     ng-if="vm.accesToCall($index)">
            </div>
        </div>
    </div>
</div>

