<div class="call4">
    <h2>Realtime communication with WebRTC</h2>

    <div layout="row">
        <md-button class="md-primary md-raised" id="startButton">start</md-button>
        <md-button class="md-primary md-raised" id="callButton">call</md-button>
        <md-button class="md-primary md-raised" id="hangupButton">hang up</md-button>
        <md-button class="md-primary md-raised" id="stopButton">stop</md-button>
    </div>

    <video id="localVideo" autoplay playsinline></video>
    <video id="remoteVideo" autoplay playsinline></video>

    <!--<h2>Realtime communication with WebRTC "datachannel"</h2>-->
    <!--<textarea id="dataChannelSend" disabled-->
              <!--placeholder="Press Start, enter some text, then press Send."></textarea>-->
    <!--<textarea id="dataChannelReceive" disabled></textarea>-->

    <!--<div layout="row">-->
        <!--<button id="startDCButton">Start</button>-->
        <!--<button id="sendBDCutton">Send</button>-->
        <!--<button id="closeDCButton">Stop</button>-->
    <!--</div>-->

</div>

