<div class="call3">

    <div layout="row">
        <md-button class="md-primary md-raised" id="startButton">Start</md-button>
        <md-button class="md-primary md-raised" id="callButton">Call</md-button>
        <md-button class="md-primary md-raised" id="hangupButton">Hang Up</md-button>
    </div>

    <div id="container" class="video-container">

        <video id="video1" playsinline autoplay muted></video>
        <video id="video2" playsinline autoplay></video>
        <!--<video id="video3" playsinline autoplay></video>-->

    </div>


</div>

