<div class="call">

    <div layout="row">
        <md-button ng-click="vm.playPause()">Play/Pause</md-button>
        <md-button ng-click="vm.getVideoInfo()">GetVideoInfo</md-button>
        <md-button ng-click="vm.stop()">Stop</md-button>
        <md-button ng-click="vm.call()">Call</md-button>
    </div>

    <div class="img-block" id="wrapper">
        <video id="localVideo"></video>
        <video id="remoteVideo1"></video>
        <video id="remoteVideo2"></video>
        <video id="remoteVideo3"></video>
        <!--<video autoplay id="video"></video>-->
    </div>

</div>

