<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">

    <md-content class="surveyBlock">
        <div class="side-nav-heder" layout="row" layout-align="center center">
            <h4>Common question</h4>
        </div>

        <div class="add-section pointer"  layout="row" layout-align="center center"
             ng-click="vm.showEdit(undefined, undefined, undefined, undefined, true)">
            <p class="block-item" flex="90">+ Add question</p>
        </div>


        <div class="block-container pointer">
            <div ng-repeat="(key, item) in vm.commonItems"  layout="row"
                 layout-align="center center" class="not-active-item pointer">
                <div flex="90" class="block-item pointer" layout="row" layout-align="space-between center" >
                    <div class="pointer" flex
                            ng-click="vm.showEdit(undefined, undefined, undefined, item)">
                        {{item.title}}
                    </div>
                    <div class="icons hidden-icon pointer"  layout="row" >
                        <!--<div>-->
                            <!--<md-tooltip md-direction="left">Edit section</md-tooltip>-->
                            <!--<md-icon ng-click="vm.addBlock(item, $index)" md-svg-src="content/icons/icon_edit.svg"-->
                                     <!--aria-label="android "></md-icon>-->
                        <!--</div>-->
                        <div>
                            <md-tooltip md-direction="left">Delete question</md-tooltip>
                            <md-icon ng-click="vm.deleteCommon(item.id, $index)"
                                     md-svg-src="content/icons/icon_delete.svg" aria-label="android "></md-icon>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </md-content>


</md-sidenav>